/* App.css */
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #2D9AFF;
  color: white;
  padding: 1rem 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 100px;
  height: auto;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d4d4d4;
}

.main-content {
  flex: 1;
  padding: 2rem 0;
}

.about-section, .features-section {
  background: #f4f4f4;
  margin-bottom: 1rem;
  padding: 2rem 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.features-list {
  list-style: none;
  padding: 0;
}

.features-list li {
  background: #e2e2e2;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

/* Estilização do container flexível */
.features-carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-text {
  flex: 1;
  padding-right: 2rem;
  min-width: 300px; /* Largura mínima do texto */
}

.features-carousel {
  flex: 1;
  max-width: 300px; /* Largura máxima do carrossel */
  margin: 0 auto; /* Centraliza o carrossel */
}

.carousel .slide {
  background: transparent;
}

.carousel-image-container {
  position: relative;
  margin: 0 auto; /* Centraliza o carrossel */
}

.carousel-image {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
  filter: brightness(0.7);
  border-radius: 10px;
  max-height: 800px; /* Define a altura máxima das imagens */
  object-fit: cover; /* Mantém a proporção das imagens */
}

.carousel-image-container:hover .carousel-image {
  filter: brightness(1);
}

.carousel-image-container .legend {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  max-width: 90%; /* Ajusta o tamanho do texto para evitar cortes */
  text-align: center;
}

.carousel-image-container:hover .legend {
  display: block;
}

.footer {
  background-color: #2D9AFF;
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
}
