/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #2D9AFF;
  color: white;
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d4d4d4;
}

.main-content {
  flex: 1;
  padding: 2rem 0;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-section, .features-section {
  background: #f4f4f4;
  margin-bottom: 1rem;
  padding: 2rem 0;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  padding-right: 2rem;
  min-width: 200px;
  margin-left: 100px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.features-list {
  list-style: none;
  padding: 0;
}

.features-list li {
  background: #e2e2e2;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.features-carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-text {
  flex: 1;
  padding-right: 2rem;
  min-width: 300px;
}

.features-carousel {
  flex: 1;
  max-width: 300px;
  margin: 0 auto;
}

.carousel .slide {
  background: transparent;
}

.carousel-image-container {
  position: relative;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
  filter: brightness(0.7);
  border-radius: 10px;
  max-height: 800px;
  object-fit: cover;
}

.carousel-image-container:hover .carousel-image {
  filter: brightness(1);
}

.comment-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8rem;
  margin-left: 300px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  margin: 1rem;
}

.comment-image {
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.comment p {
  text-align: center;
  font-style: italic;
  font-size: 1.1rem;
  color: #555;
}

.footer {
  background-color: #2D9AFF;
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  /* position: fixed; Fixar o footer na parte inferior */
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}